
@{
    ViewData["Title"] = "CardTypeMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .header {
        background-color: #003366;
        color: white;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
    }

        .header h4 {
            margin: 0;
            font-weight: 600;
        }

</style>
<div class="row mt-1 m-0 p-0">
    <div class="col-sm-6 col-md-12 header">
        <h5 class="mt-1"><i class="fa fa-address-book-o"></i> CardType Master</h5>
        <div>
            <button class="btn btn-success me-2">
                <i class="fa fa-file-excel"></i> Download Excel
            </button>
            <button class="btn btn-danger">
                <i class="fa fa-file-pdf"></i> Download PDF
            </button>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="maincontainer">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <label for="cardname" class="form-label">Card Type <span style="color:red">*</span></label>
                <input type="text" class="form-control" id="cardname" name="cardname" placeholder="Enter Card Type" />
            </div>
            <div class="col-md-3 col-sm-6">
                <label for="CardDesc" class="form-label">Description <span style="color:red">*</span></label>
                <input type="text" class="form-control" id="CardDesc" name="CardDesc" placeholder="Enter Description"/>
            </div>
            <div class="col-md-3 col-sm-6">
                <label for="basePrice" class="form-label">Base Price <span style="color:red">*</span></label>
                <input type="number" class="form-control" id="basePrice" name="basePrice" placeholder="Enter base price" />
            </div>
            <div class="col-md-3 col-sm-6">
                <label class="form-label">Action <span style="color:red">*</span></label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="action" id="act1" value="Active" checked/>
                    <label class="form-check-label" for="act1">Active</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="action" id="act2" value="InActive"/>
                    <label class="form-check-label" for="act2">In Active</label>
                </div>
            </div>

        </div>
        <div>
            <div class="col-md-12 col-sm-6 mt-3 text-center">
                <span class="btn btn-success text-white mt-4" id="btnsave" style="cursor:pointer;"><i class="fa fa-save"></i> Save</span>
                <span class="btn btn-primary mt-4" id="btnreset" style="cursor: pointer;"><i class="fa fa-sync"></i> Reset</span>
                <input type="hidden" value="0" id="hid" />
            </div>
        </div>
    </div>
    <div class="maincontainer table-responsive" style="height:400px">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped tblcss" id="tblcardtype">
                    <thead style="background-color: #003366;color:white">
                        <tr>
                            <th>Sr.No.</th>
                            <th>Card Type</th>
                            <th>Description</th>
                            <th>Base Price</th>
                            <th>Created Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/CustomeJs/CommonCollections.js" asp-append-version="true"></script>
    <script src="~/CustomeJs/commonBindDetails.js" asp-append-version="true"></script>
    <script src="~/Master/CardType.js" asp-append-version="true"></script>
}