
@{
    ViewData["Title"] = "CourseMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .header {
        background-color: #003366;
        color: white;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
    }

        .header h4 {
            margin: 0;
            font-weight: 600;
        }

</style>
<div class="row mt-1 m-0 p-0">
    <div class="col-sm-6 col-md-12 header">
        <!-- Page Title -->
        <h5 class="mt-1"><i class="fa fa-graduation-cap"></i> Create Course</h5>

        <!-- Action Buttons -->
        <div>
            <button class="btn btn-success me-2">
                <i class="fa fa-file-excel"></i> Download Excel
            </button>
            <button class="btn btn-danger">
                <i class="fa fa-file-pdf"></i> Download PDF
            </button>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="maincontainer">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <label for="course" class="form-label">Course <span style="color:red">*</span></label>
                <input type="text" class="form-control" id="course" placeholder="Enter course name" />
            </div>
            <div class="col-md-3 col-sm-6">
                <label for="Curdate" class="form-label">Created Date <span style="color:red">*</span></label>
                <input type="date" class="form-control" id="Curdate" readonly="readonly" />
            </div>
            <div class="col-md-3 col-sm-6">
                <label class="form-label">Action <span style="color:red">*</span></label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Action" id="action" checked/>
                    <label class="form-check-label" for="active">Active</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Action" id="action1" />
                    <label class="form-check-label" for="active1">In Active</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-3">
                <span class="btn btn-success text-white mt-4" id="btnsave" style="cursor: pointer;"><i class="fa fa-save"></i> Save</span>
                <span class="btn btn-primary mt-4" id="btnreset" style="cursor: pointer"><i class="fa fa-sync"></i> Reset</span>
<input type="hidden" id="hid" value="0"/>
            </div>
        </div>
    </div>
    <div class="maincontainer">
        <div class="row">
            <div class="col-md-12 table-responsive" style="height:400px">
                <table class="table table-bordered table-hover tblcss" id="tblcourse">
                    <thead style="background-color: #003366;color:white;position:sticky;top:-1px">
                        <tr>
                            <th>Sr.No.</th>
                            <th>Course</th>
                            <th>Created Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/CustomeJs/CommonCollections.js" asp-append-version="true"></script>
    <script src="~/CustomeJs/commonBindDetails.js" asp-append-version="true"></script>
    <script src="~/Master/courseMaster.js" asp-append-version="true"></script>
    <script asp-append-version="true" type="text/javascript">
        $(document).ready(async function(){
           await setDateInputValue("Curdate");
        });
    </script>
}

